.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description li {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
}
