.li {
  width: 50%;
  list-style: none;
  position: relative;
  margin: 10px 0;
  padding: 1rem;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;

  .cardHeader {
    display: flex;
    justify-content: space-between;
  }

  .details {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

.button {
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;
}

.notFavorite {
  background: rgba(155, 245, 152, 0.443);
}

.delete {
  background: rgba(244, 57, 29, 0.668);
}
