.li {
  width: 50%;
  height: 100px;
  list-style: none;
  position: relative;
  margin: 10px 0;
  padding: 1rem;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;

  .details {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

.delete {
  border: none;
  background: url("../../assets/delete-307.svg");
  height: 16px;
  width: 16px;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 10px;

  &:hover {
    fill: black;
  }
}

.notFavorite {
  border: 2px solid black;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  background: rgba(155, 245, 152, 0.443);
  align-self: flex-end;
  margin-bottom: 10px;
}
